/* .video-js {
  margin: 0 auto;
} */

/* video海报100%显示 */
.vjs-poster {
  background-size: 100% 100% !important;
  object-fit: fill !important;
  /* 背景显示的区域，只在content显示 */
  background-clip: content-box;
  background-origin: content-box;
}

.vjs-tech[poster] {
  object-fit: fill;
  background-color: transparent;
}

/* 去掉选中时的蓝色边框 */
video:focus {
  outline: none;
}

/* 这里的padding-bottom是留给controlBar的 */
.vjs-tech,
.vjs-tech,
.vjs-poster {
  padding-bottom: 48px;
}

/* 自定义controlBar */
.my-control-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 48px;
  background-color: #000;
}

.my-play-toggle .iconfont {

}











/* ########################################################### */


.my-progress-wrap {
  /* width: 600px; */
  position: relative;
  height: 8px;
  cursor: pointer;
}

.my-progress-wrap:hover .my-progress {
  transform: scaleY(1);
}

.my-progress-wrap:hover .my-progress__play__point-wrap {
  transform: scale(1) translate(50%, -50%);
}

.my-progress-wrap:hover .my-progress__mouse-time {
  /* visibility: visible; */
  opacity: 1;
}

.my-progress {
  position: relative;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: scaleY(.5);
  transition: all .15s ease;
  outline: none;
}

.my-progress__load,
.my-progress__play {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.my-progress__load {
  /* width需要根据进度动态设置 */
  /* width: 60%; */
  width: 100%;
  background-color: rgba(255,255,255,.5);
}

.my-progress__play {
  /* width需要根据进度动态设置 */
  /* width: 35%; */
  width: 0%;
  background-color: #ff6429;
  background-color: #fe6429;
}

.my-progress__play__point-wrap,
.my-progress__play__point {
  position: absolute;
  top: 50%;
  border-radius: 50%;
}

.my-progress__play__point-wrap {
  right: 0;
  transform: scale(0) translate(50%, -50%);
  width: 12px;
  height: 12px;
  background-color: #fe6429;
}

.my-progress__play__point {
  right: 50%;
  transform: translate(50%, -50%);
  width: 20px;
  height: 20px;
  background-color: rgba(254,100,41,.3);
}

.my-progress__mouse-time {
  position: absolute;
  /* left根据鼠标的位置定 */
  left: 0;
  top: -2px;
  /* visibility: hidden; */
  opacity: 0;
  padding: 6px;
  border-radius: 4px;
  background: rgba(0, 0, 0);
  transform: translateY(-100%) scale(1);
  font-size: 14px;
  color: #fff;
}

.my-button-wrap {
  height: 40px;
}